CICDDemo/SOA/Schemas/modelo.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/CICDdemo/CICDDemo/esquemas"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="entrada">
		<complexType>
			<sequence>
				<element name="in" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="salida">
		<complexType>
			<sequence>
				<element name="out" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>